*{
  margin: 0;
  padding: 0;
  outline: 0;
  font-family: 'Open Sans', sans-serif;
}
body{
  height: 100vh;
  background-image: url(../img/assets-landing/requirements.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  padding: 20px 25px;
  width: 300px;

  background-color: rgba(0,0,0,.7);
  box-shadow: 0 0 10px rgba(255,255,255,.3);
}

.form {
  justify-content: center;
  /* background-color: red; */
  border: 2px solid rgba(8, 9, 10, 0.1);
  padding: 2em 3em;
  /* width: 45em; */
}

/* .container h1{
    text-align: left;
    color: #fafafa;
    margin-bottom: 30px;
    text-transform: uppercase;
    border-bottom: 4px solid #2979ff;
}

.container h5{
    text-align: left;
    font-size: 0.9rem;
    color: #fafafa;
    margin-bottom: 30px;
    text-transform: uppercase;
    border-bottom: 4px solid #2979ff;
}

.container form button{
    width: 100%;
    padding: 5px 0;
    border: none;
    background-color:#2979ff;
    font-size: 18px;
    color: #fafafa;
}
 */


h1 {
  text-align: left;
  color: #ffffff;
  margin-bottom: 30px;
  text-transform: uppercase;
  border-bottom: 4px solid #ffb548;
}

h4 {
  text-align: left;
  font-size: 0.9rem;
  color: #ffffff;
  margin-bottom: 30px;
  text-transform: uppercase;
  border-bottom: 4px solid #ffb548;
}

h5 {
  text-align: center;
  font-size: 0.5rem;
  color: #7c1818;
  margin-bottom: 30px;
  margin-left: -2.5em;
  margin-top: 0.5em;
  text-transform: none;
}

.email, .password, .remember-me, .submit {
  padding: 0.5em;
  color:#ffffff
}

input[type="email"], input[type="password"] {
  width: calc(100% - 20px);
  height: 5vh;
}

button {
  width: calc(100% - 20px);
  padding: 5px 0;
  border: none;
  background-color:#ffb548;
  font-size: 18px;
  color: #fafafa;
}